@charset "utf-8"; 

body {
	background-color: #fff;
	height:100%;
	margin: 0;
	padding: 0; 
}

/* 작가홈 css ===========================================================================*/
.wrapHome{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:80px; /* 상단바 높이만큼 수정 */
	margin-bottom:100px; /* 하단바 높이만큼 수정 */
	min-height: 100%;
}

.wrapSection {
	padding-bottom: 0px;
}


.wrapProfile{
	background-color:#fff;
	width:100%;
	min-height: 100%;
}

.profileTextSection{
	background-color: #fff;
	float: left;
	align:left;
	width:70%;
	height: 185px;
	padding-top: 15px;
}

.profileText{
	line-height: 7pt;
}

.profileImageSection{
	background-color: #fff;
	float: left;
	align:right;
	text-align: right;
	width:30%;
	height: 185px;
}


.profileImage{
	float: right;
	width: 120px;
	height: 120px;
	background-color: #fff;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.profileMenuOpen{
	float: right;
	background: #fff;
	width:100%;
	height: 40px;
	line-height: 40px;
	text-align: right;
}

/* 작가 신고하기 */
.choiceReportReason{
	font-size: 20pt;
	align-self:center;
	text-align:left;
	background: #e2e2e2;
	width: 500px;
	height: 360px;
	padding: 20px 40px;
}


/* 작가홈 메뉴 바 */
.artisthomeMenu{
	margin-top: 80px;
	float:right;
	width:100%;
	height:50px;
	background-color: #fff;
}

.ui tabular menu{
	width: 100%;
}



/* 작가홈 메뉴 바  - 0.공통*/
.innerTab{
	padding-top: 350px;
	padding-bottom: 35px;
	color: #aaa;
	background-color: #fff;
}



/* 작가홈 메뉴 바  - 1.작가 소개 탭*/
.artistIntroCategory{
	font-weight: 600;
	padding-top: 50px;
	padding-bottom: 10px;
	color: #7c7c7c;
	
}

.artistIntroContent{
	font-size: 10pt;
	line-height: 20pt;
	color:#aaa;
}


.artistURL{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid 1px #d1d1d1;
	line-height: 40px;
	text-align: center;
	padding-left:5px;
	margin-right: 15px;
	
}




/* 작가홈 수정 */

.wrapArtistIntroEdit{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:50px; /* 상단바 높이만큼 수정 */
	overflow:hidden;
	height:auto;
}

.profileImage2{
	width: 120px;
	height: 120px;
	background-color: #fff;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.artistIntroCategory2{
	font-weight: 600;
	padding-top: 50px;
	padding-bottom: 10px;
	color: #474747;
	font-size: 12pt;
}

.artistIntroContent2{
	font-size: 10pt;
	line-height: 20pt;
}

.editTagTable{
	width: 100%;
	height: 70px;
	margin-top: -10px;
}

.editTagTable td{
	width: 15%;
}


/* 팔로잉 페이지 */
.wrapFollowingPage{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:65px; /* 상단바 높이만큼 수정 */
	overflow:hidden;
	min-height: 100%;
}

.followingList{
	margin-top: 30px;
	width:90%;
}

.eachFollwing {
	line-height: 25px;
	width:100%;
	text-align: center;
}

.eachFollwing tr {
	height: 40px;
}

.profileImage3{
	float:left;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}



/* 작가홈 - 오브제 */

.artisthomeObjetSection {
	width:100%;
	overflow:hidden;
	height:auto;
}

.artisthomeObjetTable{
	width: 100%;
	table-layout:fixed;
}



.artisthomeObjetTableLastTr{
	padding-bottom: 30px;
	border-bottom: 1px solid #999999;
}


.objetStatusLabel{
	float: left;
	width:50px;
	height: 17px;
	border-radius:10px;
	font-size: 5pt;
	line-height:12pt;
	color: #fff;
	text-align: center;
}

.artisthomeObjetListImg{
	width: 100%;
	height: 230px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	
}

.artisthomeObjetListIntro{
	width: 100%;
	font-size: 9pt;
	line-height: 1.6;
	max-height: 4.8em;
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
 
}


/* 작가홈 - 방명록 */
.profileImage4{
	vertical-align: middle;
	width: 80px;
	height: 80px;
	margin-left:25px;
	background-color: #fff;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.gbwrite{
	font-size: 10pt;
	border-style:none;
	width: 100%;
	border-spacing: 0;
	margin-bottom: 50px;
}

.gbwrite a{
	font-size: 10pt;
}


.gbwrite td {
	background: #f9f9f9;
	font-size: 10pt;
}


.gbcontent{
	margin-left:20px;
	margin-top:20px;
	padding-bottom: 20px;
	color:#202020;
	text-align: left;
	line-height: 15pt;
	font-size: 10pt;
	min-height: 100px;
}

.replycontent{
	margin-left: 30px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	color: #424242;
	font-size: 10pt;
}



/* 로그인페이지 =========================================================================== */
#loginSection{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 420px;
	overflow: hidden;
	background-color: #fff;
	margin-top: -200px;
	margin-left: -200px;
	text-align: center;
	color: #808080;
	line-height: 5px;
}

.findResultContent1{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	font-size: 15pt;
}

.findResultContent2{
	padding-right: 10px;
	padding-left: 10px;
	font-size: 15pt;
	font-weight: 600;
	color:#3a3a3a;
}


/* 회원가입 페이지 ===========================================================================*/
.wrapEnrollPage{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	overflow:hidden;
	min-height: 100%;
}

.enrollSection{
	align:center;
	background: #f6f6f6;
	width: 100%;
	height: 540px;
	margin-top: 40px;
}


.enrollTable{
	width: 90%;
	height: 90%;
	margin-left: 12%;
	padding-top: 20px;
}

.enrollTable tr{
	line-height: 58px;
}

.enrollTable th{
	 width:15%;
	 text-align: left;
}

.enrollTable td{
	width:85%;
	font-size: 10pt;
}




.enrolldiv{
	line-height: 3px;
	color: red;
	font-size: 9pt;
	text-indent: 5pt;
}

.termsSection{
	align:center;
	background: #f6f6f6;
	width: 100%;
	height: 170px;
	margin-top: 15px;
	text-align: left;
}

.termsCheck{
	margin-top: -20px;
	padding-left: 50px;
	line-height: 30px;
}

.termsCheckLabel{
	color:#aaa;
	font-size: 9pt;
	vertical-align: 2px;
}


/* 회원가입 완료 */

.wrapEnrollSuccessPage{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	margin-top:140px; /* 상단바 높이만큼 수정 */
	overflow:hidden;
	min-height: 100%;
}

/* 회원탈퇴 페이지 */
.wrapQuitPage{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	overflow:hidden;
	min-height: 100%;
}

.quitHeader{
	line-height: 10px;
}

.choiceQuitReason{
	font-size: 20pt;
	align-self:center;
	text-align:left;
	background: #e2e2e2;
	width: 500px;
	height: 280px;
	padding: 20px 40px;
}

#checkBeforeQuit{
	align: center;
	margin-top: -10px;
	padding-left: 35px;
	padding-top: 15px;
	width: 500px;
	height: 150px;
	background-color: #f2f2f2;
	border: 1px solid #e2e2e2;
	text-align: left;
	font-size: 9pt;
	line-height: 15pt;
	color: #aaa;
}



/* 오브제 관리 ======================================================================================================*/

/* 오브제 관리 */
.wrapMyObjetList{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	overflow:hidden;
	height:auto;
}


.objetSearchBox{
	background:#f0f0f0;
	width: 100%;
	padding: 20px 30px;
	text-align: left;
}

.objetListSection{
	width: 100%;
	padding-top: 30px;
	text-align: center;
}


.searchListTable{
	width:100%;
	border: 1px solid #cccccc;
	border-spacing: 0;
	border-collapse:collapse;
}

.searchListTable tr{
	height: 35px;
}

.searchListTable th{
	background: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 11pt;
}

.searchListTable td{
	border: 1px solid #cccccc;
	font-size: 10pt;
}


/* 오브제 등록 */
.wrapCreateObjet{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	overflow:hidden;
	height:auto;
}

.createObjetTable{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 9pt;
}

.createObjetTable tr{
	height:80px;
}

.createObjetTable th{
	padding: 0 10px;
	text-align: left;
}

.createObjetTable td{
	padding: 10px 10px;
	font-size: 9pt;
}

.objetposter{
	width:600px;
	height: 209px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.objetTagTable{
	width: 100%;
	margin-top: -10px;
	line-height: 20px;
}

.objetTagTable tr{
	height:20px;
}

.objetTagTable td{
	height:20px;
}


.createObjetTable2{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 9pt;
}

.createObjetTable2 td{
	padding: 10px 10px;
	font-size: 10pt;
}

.createobjetimg{
	width: 150px;
	height: 210px;
}



/* 오브제 상세보기 */
.detailText{
	font-size: 11pt;
	color:#aaa;
}

.detailTextBox{
	width:600px;
	font-size: 11pt;
	color:#aaa;
	line-height: 16pt;
}

.myobjettitle{
	width:300px;
	height:20px;
	font-size: 11px;
	color:#aaa;
}

.myobjetintro{
	font-size: 11pt;
	color:#aaa;
	width:500px; 
}


.myObjetDetailTable {
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 9pt;
}

.myObjetDetailTable tr{
	
}

.myObjetDetailTable td{
	padding: 10px 10px;
	font-size: 10pt;
	padding-bottom: 50px;
}



/* 관심 오브제 */
.eachObjet{
	width: 43%;
	height: 210px;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 70px;
	float: left;
	position: relative;
	left:1.5%;
}

.eachObjetTable{
	width:100%;
	border:0;
	border-collapse: collapse;
	border-spacing: 0;
	color: #4d4d4d;
}

.eachObjetImg{
	width:100%;
	height:150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.objetStatusLabel2{
	width:60px;
	height: 20px;
	border-radius:10px;
	font-size: 7pt;
	line-height:15pt;
	color: #fff;
	text-align: center;
}

.objetListSection2{
	width: 100%;
	padding-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	height:auto;
	overflow: hidden;
}


/* 피드 알림 */
.wrapFeedList{
	background-color: #fff;
	margin-left: 25%;
	margin-right: 25%;
	overflow:hidden;
	height:auto;
	margin-bottom:200px; /* 하단바 높이만큼 수정 */
	min-height: 100%;
}

.feedTable{
	width:100%;
	border: 0;
	border-spacing: 0;
	color: #454545;
	line-height: 40px;
	margin-top: 50px;
}

/* 문의하기 */
.myQnaDetailTable{
	width: 100%;
	height:auto;
	overflow: hidden;
	font-size: 9px;
	border: 1px solid #aaa;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.myQnaDetailTable th{
	background: #efefef;
	border: 1px solid #aaa;
	padding: 10px;
}

.myQnaDetailTable td{
	border: 1px solid #aaa;
	padding: 10px;
	font-size: 10pt;
}


.myQnaAnswerTable{
	width: 100%;
	height:auto;
	overflow: hidden;
	font-size: 9px;
	border: 1px solid #aaa;
	border-radius:10px;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;
	margin-top: 20px;
	margin-bottom: 20px;
}

.myQnaAnswerTable th{
	background: #e0effe;
	border: 1px solid #add5fc;
	padding: 10px;
	height:10px;
	font-size: 10pt;
}

.myQnaAnswerTable td{
	background:#f2f9ff;
	border: 1px solid #add5fc;
	padding: 10px;
	font-size: 10pt;
	height:60px;
	vertical-align: top;
}