<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

	<!-- 회원 조회 -->
	<select id="selectUsers" resultType="Userm">
		select userid, nickname,
		username, blackyn, enrolldate, quityn, count(reportedu) as
		"reportcount" from users
		left join reportudetail on (userid =
		reportedu)
		where userid not like '%admin%'
		group by userid, nickname,
		username,
		blackyn, enrolldate, quityn
		order by userid
	</select>

	<!-- 블랙리스트 조회 -->
	<select id="selectBlacklist" resultType="Userm">
		select * from blacklist
		join users using (userid)
		order by userid desc

	</select>
	<!-- 블랙리스트 정렬 조회 -->
	<select id="selectBlacklistOrder" resultType="Userm"
		parameterType="string">
		select * from blacklist
		join users using (userid)
		<trim prefix="order by">
			<if test="_parameter.equals('ida')"> userid asc</if>
			<if test="_parameter.equals('idd')"> userid desc</if>
			<if test="_parameter.equals('nicka')"> nickname asc</if>
			<if test="_parameter.equals('nickd')"> nickname desc</if>
			<if test="_parameter.equals('namea')"> username asc</if>
			<if test="_parameter.equals('named')"> username desc</if>
			<if test="_parameter.equals('starta')"> blackstart asc</if>
			<if test="_parameter.equals('startd')"> blackstart desc</if>
			<if test="_parameter.equals('enda')"> blackend asc</if>
			<if test="_parameter.equals('endd')"> blackend desc</if>
		</trim>
	</select>

	<!-- 회원 상세 조회 -->
	<select id="selectUserDetail" resultType="Userm"
		parameterType="string">
		select * from users
		left join usersprofile using (userid)
		where userid = #{value}
	</select>

	<!-- 회원 전시내역 조회 -->
	<select id="selectUserObjet" resultType="Objet"
		parameterType="string">
		select * from objet
		where userid = #{value}
	</select>

	<!-- 회원 신고내역 조회 -->
	<select id="selectUserReport" resultType="ReportUDetail"
		parameterType="string">
		select * from reportudetail
		where reportedu = #{value}
	</select>

	<!-- 회원 신고내역 카운트 및 사유 조회 -->
	<select id="selectUserReportTotal" resultType="ReportUDetail"
		parameterType="string">
		select count(*) as "reportucount", reportureason
		from
		reportudetail
		where reportedu = #{value}
		group by reportureason
	</select>

	<!-- 전시 전체 목록 조회 -->
	<select id="selectAllObjet" resultType="Objet">
		select *
		from objet
	</select>

	<!-- 전시 상세 조회 -->
	<select id="selectObjetOne" resultType="Objet" parameterType="_int">
		select
		*
		from objet
		where objetno = #{value}
	</select>

	<!-- 공지 목록 조회 -->
	<select id="selectNoticeList" resultType="Notice">
		select *
		from notice
		order by noticeno desc
	</select>

	<!-- 공지 상세 조회 -->
	<select id="selectNoticeDetail" resultType="Notice"
		parameterType="_int">
		select *
		from notice
		where noticeno = #{ value }
	</select>

	<!-- QnA 목록 조회 -->
	<select id="selectQnaList" resultType="Qna">
		select *
		from qna
		order by
		qnano asc
	</select>

	<!-- QnA 상세 조회 -->
	<select id="selectQnaDetail" resultType="Qna"
		parameterType="_int">
		select *
		from qna
		where qnano = #{ value }
	</select>

	<!-- FAQ 목록 조회 -->
	<select id="selectFaqList" resultType="Faq">
		select *
		from faq
		order by
		faqno asc
	</select>

	<!-- FAQ 상세 조회 -->
	<select id="selectFaqDetail" resultType="Faq"
		parameterType="_int">
		select *
		from faq
		where faqno = #{ value }
	</select>

	<!-- 신고게시글 전체조회 -->
	<select id="selectReportBList" resultType="ReportBoard">
		select * from reportboard
	</select>

	<!-- 신고게시글 상세조회 -->
	<select id="selectReportBDetail" resultType="ReportBoard" parameterType="string">
		select * 
	 	<trim prefix="from">
			<if test="_parameter.contains('OBJET')"> objet</if>
			<if test="_parameter.contains('REVIEW')">Review</if>
		</trim>
 		<where>
			<if test="_parameter.contains('OBJET')">
			objetno = substr( #{ value } , 6)
			</if>
			<if test="_parameter.contains('REVIEW')">
			objetno = substr( #{ value } , 7) and userid like '%'||#{ value }||'%'
			</if>
		</where> 
	</select> 

</mapper>
