<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csMapper">

<resultMap type="Notice" id="resultNotice">

<id column="noticeno" property="noticeno"/>

<result column="noticetitle" property="noticetitle"/> 

<result column="noticedate" property="noticedate"/>

<result column="noticecontent" property="noticecontent"/>


</resultMap>



<!-- Notice 갯수 조회 -->
<select  id="listCount" resultType="_int" >select count(*) from notice </select>

<!-- Notice 검색 갯수 조회 -->
<select  id="noticeSearchListCount" resultType="_int" parameterType="Hashmap">
<![CDATA[
select count(*) from notice where ${searchmenu}  like '%' || #{search} || '%'   

                          
]]>
</select>
<!-- 공지사항 추가 -->
<insert id="insertNoticeWrite" parameterType="Notice">
insert into notice values ((select max(noticeno) from notice) + 1, #{adminid},#{noticetype},#{noticetitle}, sysdate,#{noticecontent} 
<if test="original_filepath != null">, #{original_filepath}, #{rename_filepath} </if>
, null, null) 
</insert>

<!-- 공지 목록 조회 -->
   <select id="selectNoticeList" resultMap="resultNotice" parameterType="Hashmap">

<![CDATA[
      select * 
      from (select rownum rnum, noticeno, noticetitle, noticedate, noticecontent, adminid, noticetype,noticerfile
              from (select *
                    from notice
                    order by noticedate desc))
      where rnum >= #{startRow} and rnum <= #{endRow}
   ]]>
</select>


 <select id="selectNoticeType" resultType="Notice">
    select *
      from notice
      where noticetype ='일반'
   </select>

   <!-- 공지 상세 조회 -->
   <select id="selectNoticeDetail" resultType="Notice"
      parameterType="_int">
      select *
      from notice
      where noticeno = #{ noticeno }
   </select>
<!--  NoticeSearch-->
<select resultType="Notice" id="selectNoticeSearchList" parameterType="Hashmap">

<![CDATA[
select * 
      from (select rownum rnum, noticeno, noticetitle, noticedate, noticecontent, adminid, noticetype
              from (select *
                    from notice
                    order by noticedate desc))
              where ${searchmenu}  like '%' || #{search} || '%'
]]>
</select>
  <insert parameterType="Notice" id="insertNotice">
insert into notice values (noticeno_seq.nextval,#{adminid},#{noticetype},#{noticetitle}, sysdate, #{noticecontent},

<if test="noticeofile != null">#{noticeofile}</if>
<if test="noticeofile == null">null</if>,
<if test="noticerfile != null">#{noticerfile}</if>
<if test="noticerfile == null">null</if>)
 </insert>
 <!-- 공지사항 파일 삭제 -->
 <delete parameterType="Notice" id="deleteFile">
delete from notice where noticerfile = #{noticerfile} and  noticeno = #{noticeno};  
</delete>
 
 <!-- 공지사항 삭제 -->


<select resultType="int" id="deleteNotice" parameterType="Notice"> delete from notice where noticeno = #{noticeno} </select>

<!-- 공지사항추가 -->

<!--공지사항 수정  -->
<update parameterType="Notice" id="updateNotice">
update notice set noticetype = #{noticetype}, noticetitle = #{noticetitle}, noticecontent = #{noticecontent}, noticeofile = #{noticeofile}, noticerfile = #{noticerfile}
		where noticeno = #{noticeno}
</update>
      <!-- FAQ 목록 조회 -->
   <select id="selectFaqList" resultType="Faq">
      select *
      from faq
      order by faqno desc
   </select>

    <!-- QnA 갯수 조회 -->
 
<select  id="listCount2" resultType="_int" >select count(*) from qna </select>
<!-- qna 검색 갯수 조회 -->
<select  id="qnaSearchListCount" resultType="_int" parameterType="Hashmap">
<![CDATA[
  select count(*) from qna where qnatitle  like '%' || #{search} || '%'                             
]]>
</select>


<!--  QnaSearch-->
 <select resultType="Qna" id="selectQnaSearchList" parameterType="Hashmap">

<![CDATA[
select * 
      from (select rownum rnum, qnano, userid, adminid,qnatype, qnatitle, qnacontent, questiondate, qnaanswer, answerdate,qnaanswertype
              from (select *
                    from qna
                    order by questiondate desc ))
              where qnatitle  like '%' ||#{search}|| '%'  and userid = #{ userid } ]]>  
<if test="searchtype.equals('all')"></if>
<if test="searchtype.equals('y')"> and qnaanswertype = 'Y' </if>
<if test="searchtype.equals('n')"> and qnaanswertype = 'N' </if>
      

</select>
<!-- 
<select resultType="Qna" id="selectQnaSearchList" parameterType="Hashmap">


             select * 
      from (select rownum rnum, qnano, userid, adminid,qnatype, qnatitle, qnacontent, questiondate, qnaanswer, answerdate,qnaanswertype
              from (select *
                    from qna
                 order by questiondate desc))
          <![CDATA[   <if test="searchmenu == 'All'"> qnatitle  like '%' ||#{search}|| '%'</if>
              select qnaanswertype from qna,
<if test="searchmenu == 'Y'"> qnatitle  like '%' ||#{search}|| '%'</if>
select qnaanswertype from qna
where qnaanswertype ='Y'
<if test="searchmenu == 'N'"> qnatitle  like '%' ||#{search}|| '%'</if>select qnaanswertype from qna
where qnaanswertype ='N'
       
]]>        
</select>
 -->




<!-- 문의내역 목록 조회 -->
   <select id="selectQnaList" resultType="Qna" parameterType="Hashmap">

<![CDATA[
                        select * 
      from (select rownum rnum, qnano, userid, adminid,qnatype, qnatitle,qnacontent, questiondate, qnaanswer, answerdate, qnaanswertype
              from (select *
                    from qna
                     order by questiondate desc ))
                    where rnum >= #{startRow} and rnum <= #{endRow} and userid = #{ userid }
   
   ]]>
</select>


   <!-- QnA 상세 조회 -->
   <select id="selectQnaDetail" resultType="Qna"
      parameterType="_int">
      select *
      from qna
      where qnano = #{ value }
   </select>
 
 
<!--  <insert parameterType="Qna" id="insertQna">
insert into qna values (qnano_seq.nextval,#{userid},null,#{qnatype},#{qnatitle},#{qnacontent}, sysdate,null,null,

<if test="qnaofile != null">#{qnaofile}</if>
<if test="qnaofile == null">null</if>,
<if test="qnarfile != null">#{qnarfile}</if>
<if test="qnarfile == null">null</if>,
default) 
 </insert>  -->

 <insert parameterType="Qna" id="insertQna">
insert into qna values (qnano_seq.nextval,#{userid},null,#{qnatype},#{qnatitle},#{qnacontent}, sysdate,null,null,
null,null,default)
 </insert>



   <!-- Qna 문의글 수정하기  --> 
   <update id="updateQna" parameterType="Qna">
   update qna set qnatype = #{qnatype}, qnatitle = #{qnatitle}, qnacontent = #{qnacontent}
   where qnano = #{qnano} 
   </update>



   <!-- Qna 문의글 삭제하기  --> 
   
   <delete id="deleteQna" parameterType="_int">
   delete from qna
   where qnano = #{qnano} 
    </delete>
    
       <delete id="deleteQna1" parameterType="_int">
   delete from qna
   where qnano = #{qnano}
    </delete>
   
</mapper>










