<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	
	<select id="selectCheckId" parameterType="String" resultType="int">
		select count(userid) from users where userid = #{userid}
	</select>
	
	<select id="selectCheckNickname" parameterType="String" resultType="int">
		select count(nickname) from users where nickname = #{nickname}
	</select>
	
	<insert id="insertUsers" parameterType="Users">
		insert into users values (#{userid}, #{userpwd}, #{usertype}, #{username}, #{nickname}, #{email}, #{phone}, #{gender}, sysdate, default, default)
	</insert>

	<insert id="insertUsersProfile" parameterType="String">
		insert into usersprofile (userid) values (#{userid})
	</insert>
	
	<select id="selectUsersLogin" parameterType="UAUP" resultType="UAUP">
		select * from users A left outer join usersprofile B on A.userid = B.userid where A.userid= #{userid} and A.userpwd = #{userpwd}
	</select>
	
	<select id="selectFindId" parameterType="Users" resultType="Users">
		select * from users where username = #{username} and email = #{email}
	</select>
	
	<select id="selectFindPwd" parameterType="Users" resultType="Users">
		select * from users where userid = #{userid} and username = #{username} and email = #{email}
	</select>
	
	<update id="updateUserPwd" parameterType="Users">
		update users set userpwd = #{userpwd} where userid = #{userid}
	</update>
	
	<select id="moveMyPageEdit" parameterType="Users" resultType="Users">
		select * from users where userid = #{userid}
	</select>
	
	<select id="selectCheckEmail" parameterType="String" resultType="int">
		select count(*) from users where email = #{email}
	</select>
	
	<update id="updateQuitUser" parameterType="String">
		update users set quityn = 'Y' where userid = #{userid} 
	</update>
	
	<insert id="insertQuitUser" parameterType="Quit2">
		 insert into quit values (#{userid}, 'G', #{quitreason}, sysdate )
	</insert>
	
	<select id="FollowerGetListCount" parameterType="String" resultType="int">
		select count(to_user) from follower where from_user = #{userid}
	</select>
	
	<select id="FollowingGetListCount" parameterType="String" resultType="int">
		select count(to_user) from following where from_user = #{userid}
	</select>
	
	<select id="moveArtistHome" parameterType="String" resultType="UAUP">
		select * from users A left outer join usersprofile B on A.userid = B.userid where A.userid= #{userid}
	</select>
	

</mapper>
