<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- alias별칭은 vo명과 동일하게 만들었음. -->
	<typeAliases>
		<typeAlias type="com.kh.objet.blacklist.model.vo.BlackList" alias="BlackList" />
		<typeAlias type="com.kh.objet.faq.model.vo.Faq" alias="Faq" />
		<typeAlias type="com.kh.objet.feed.model.vo.Feed" alias="Feed" />
		<typeAlias type="com.kh.objet.follow.model.vo.Follower" alias="Follower" />
		<typeAlias type="com.kh.objet.follow.model.vo.Following" alias="Following" />
		<typeAlias type="com.kh.objet.guestbook.model.vo.GbReply" alias="GbReply" />
		<typeAlias type="com.kh.objet.guestbook.model.vo.GuestBook" alias="GuestBook" />
		<typeAlias type="com.kh.objet.likeobjet.model.vo.LikeObjet" alias="LikeObjet" />
		<typeAlias type="com.kh.objet.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.kh.objet.objet.model.vo.Objet" alias="Objet" />
		<typeAlias type="com.kh.objet.objet.model.vo.Artist" alias="Artist" />
		<typeAlias type="com.kh.objet.qna.model.vo.Qna" alias="Qna" />
		<typeAlias type="com.kh.objet.quit.model.vo.Quit" alias="Quit" />
		<typeAlias type="com.kh.objet.reportboard.model.vo.ReportBoard" alias="ReportBoard" />
		<typeAlias type="com.kh.objet.reportudetail.model.vo.ReportUDetail" alias="ReportUDetail" />
		<typeAlias type="com.kh.objet.review.model.vo.Review" alias="Review" />
		<typeAlias type="com.kh.objet.users.model.vo.Users" alias="Users" />
		<typeAlias type="com.kh.objet.usersprofile.model.vo.UsersProfile" alias="UsersProfile" />
		<typeAlias type="com.kh.objet.visitedobjet.model.vo.VisitedObjet" alias="VisitedObjet" />
		<typeAlias type="com.kh.objet.users.model.vo.UserManagement" alias="Userm" />
		<typeAlias type="com.kh.objet.calendar.model.vo.Calendar" alias="Calendar" />
		<typeAlias type="com.kh.objet.users.model.vo.UAUP" alias="UAUP" />
	</typeAliases>
	<mappers>
<!-- 		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/test-mapper.xml" /> -->
	 	<mapper resource="mappers/user-mapper.xml" /> 
	 	<mapper resource="mappers/admin-mapper.xml" /> 
	 	<mapper resource="mappers/calendar-mapper.xml"/>
		<mapper resource="mappers/objet-mapper.xml"/>
	</mappers>
</configuration>
